/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6.1
*/

/* Theme customization starts here
-------------------------------------------------------------- */
/*CORES

Roxo #742894
Amarelo #ffcb00
Rosa #ff367a
Verde #00cd8a
Azul #00b5bd
vermelho #fb5455


*/

/*animate*/
@-webkit-keyframes rubberBandInfinite {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);  
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);  
  }

  44% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  48% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  52% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  56% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  60% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  62% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBandInfinite {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);  
  }
  45% {
    -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);  
  }

  47% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  49% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  51% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  53% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  55% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  57% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%,-50%) scale3d(0.3, 0.3, 0.3);
    transform: translate(-50%,-50%) scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%,-50%) scale3d(0.3, 0.3, 0.3);
    transform: translate(-50%,-50%) scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@-webkit-keyframes moveCircle {
  from {
    -webkit-transform: translate(0px,-0px);
    transform: translate(0px,0px);
  }
  40% {
    -webkit-transform: translate(100px,-48px);
    transform: translate(100px,-48px);
  }
  55% {
  -webkit-transform: translate(100px,-10px);
    transform: translate(100px,-10px);
  }

  to {
  -webkit-transform: translate(0px,-0px);
    transform: translate(0px,0px);
  }
}

@keyframes moveCircle {
  from {
    -webkit-transform: translate(0px,-0px);
    transform: translate(0px,0px);
  }
  40% {
    -webkit-transform: translate(100px,-48px);
    transform: translate(100px,-48px);
  }
  55% {
  -webkit-transform: translate(100px,-10px);
    transform: translate(100px,-10px);
  }

  to {
  -webkit-transform: translate(0px,-0px);
    transform: translate(0px,0px);
  }
}


@-webkit-keyframes swingInfinite {
from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  40% {
   -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  55% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  65% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  75% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swingInfinite {
from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  40% {
   -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  55% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  65% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  75% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

#Content {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* LINKS ATIVOS MENU */
#Top_bar .menu > li > a span {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    font-weight: bold;
}
#Top_bar .menu > li:hover > a span {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}
#Top_bar .menu > li.current-menu-item  > a span {
color:#fff;
z-index:300;
position:relative;
}
#Top_bar .menu > li.current-menu-item  > a:after {
	width:100%;
	top: 32px !important;
}
#Top_bar.is-sticky .menu > li.current-menu-item > a:after {
    top: 17px !important;
}
#Top_bar .menu > li > a:after {
    content: "";
    height: 30px;
    width: 0%;
    position: absolute;
    left: 0;
    top: 31px;
    border-radius: 45% 90%;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* HEADER */

.wb-btn-lojista {
    height: 38px;
    background: #ff691e;
    display: inline-block;
    line-height: 38px;
    text-align: center;
    padding: 0 25px;
    float: right;
    margin-top: 24px;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swingInfinite;
    animation-name: swingInfinite;
    /*animation-name:rubberBandInfinite;*/
    animation-duration:6.5s;
    animation-timing-function:ease-in-out;
    animation-delay:0s;
    animation-iteration-count:infinite;
}
.wb-btn-lojista i {
  margin-right: 5px;
}
.wb-btn-lojista:hover {
  background:#f15d13;
  text-decoration: none;
  color:#ffffff;
}
.wb-btn-login {
height: 40px;
    width: 40px;
    background: #0fb5bc;
    display: inline-block;
    line-height: 39px;
    text-align: center;
    float: right;
    margin-top: 24px;
    color: #fff;
    margin-left: 30px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wb-btn-login:hover {
  background:#74d8dc;
  text-decoration: none;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  color:#ffffff;
}
.wb-btn-link-login {
  float: right;
    margin-top: 20px;
        margin-left: 30px;
    color: #00cd8a;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wb-btn-link-login:hover {
  color: #00cd8a; 
  text-decoration: none;
    -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
.wb-btn-link-login .link-text {
    background: #00cd8a;
    color: #ffffff;
    margin-top: 0;
    font-size: 12px;
    font-style: italic;
    border-radius: 5px;
    text-align: center;
}
#Top_bar.is-sticky .wb-btn-lojista,
#Top_bar.is-sticky .wb-btn-login {
  margin-top:10px;
}

#Top_bar.is-sticky .wb-btn-link-login {
    margin-top: 6px;
}
.wb-menu-categories {    
  border-top: 1px solid #fff;
    position: absolute;
    z-index: 10;
    width: 100%;
}
.wb-menu-categories .wb-list-menu {margin: 0;padding: 0;}
.wb-menu-categories .wb-list-menu .wb-li-category {display: block;width: 20%;float: left;}
.wb-menu-categories .wb-list-menu .wb-li-category .wb-link-category {padding: 5px 15px 5px 15px;display: block;font-size: 14px;border: none;color: #ffffff;text-align: center;height: 26px;line-height: 26px;font-family: "Poppins", sans-serif;text-transform: uppercase;font-weight: 600;position: relative;
transition: all .3s linear;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
-ms-transition: all .3s linear;
overflow: hidden;
}
.wb-menu-categories .wb-list-menu .wb-li-category .wb-link-category::before {
  content:"";
  width: 100%;
  position:absolute;
  top:0;
  height:100%;
  left:0;
  border-radius: 0 0 100% 100%;
  z-index:-1;
}
.wb-menu-categories .wb-list-menu .wb-li-category.wb-category-dream .wb-link-category::before {
  background:#00e2d6;

}
.wb-menu-categories .wb-list-menu .wb-li-category.wb-category-draw .wb-link-category::before {
  background:#fdd059;
}
.wb-menu-categories .wb-list-menu .wb-li-category.wb-category-copo .wb-link-category::before {
  background:#ff53dd;
}
.wb-menu-categories .wb-list-menu .wb-li-category.wb-category-bonecos .wb-link-category::before {
  background:#ffad00;
}
.wb-menu-categories .wb-list-menu .wb-li-category.wb-category-bonecos .wb-link-category::before {
  background:#ffad00;
}
.wb-menu-categories .wb-list-menu .wb-li-category.wb-category-pantufas .wb-link-category::before {
  background:#c01cb1;
}
.wb-menu-categories .wb-list-menu .wb-li-category.wb-category-almofadas .wb-link-category::before {
  background:#01c362;
}
.wb-menu-categories .wb-list-menu .wb-li-category .wb-link-category:hover {
  text-decoration:none;
  padding-top: 180px;
}

.wb-menu-categories .wb-list-menu .wb-li-category .wb-link-category .wb-link-hover {
  position: absolute;
  width: 60%;
  left: 0;
  top: -400px;
  text-decoration:none;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
}
.wb-menu-categories .wb-list-menu .wb-li-category .wb-link-category .wb-link-hover img {max-width: 100%;border-radius:0 10px 0 10px;}
.wb-menu-categories .wb-list-menu .wb-li-category .wb-link-category:hover .wb-link-hover {top:0px;}
#Top_bar.is-sticky .wb-menu-categories {
  display: none;
}

.wb-categories-four .wb-box-hover .wb-new-category {
  margin:0;
  width: 100%;
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-lancamentos {
  background: #4a0e79; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #4a0e79 , #7516bd); /* Standard syntax (must be last) */
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-amor {
  background: #4a0e79; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #f14545 , #fe6a69); /* Standard syntax (must be last) */
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-familia {
  background: #4a0e79; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #ff5500 , #ff9000); /* Standard syntax (must be last) */
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-amizades {
  background: #4a0e79; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #00aa84 , #00d0a2); /* Standard syntax (must be last) */
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-lancamentos .wb-image {
  margin-left: -77px;
    margin-top: -61px;
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-amor .wb-image{
  margin-left: -77px;
    margin-top: -50px;
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-familia .wb-image{
  margin-left: -99px;
    margin-top: -83px;
}
.wb-categories-four .wb-box-hover .wb-link.wb-link-amizades .wb-image{
  margin-left: -117px;
    margin-top: -53px;
}

.wb-categories-four .wb-box-hover .wb-link .wb-image {  
  top: 50%;
  left:50%; 
  position: absolute;
}

.wb-categories-four .wb-box-hover .wb-link .wb-image.wb-image-front {
  z-index: 2;

}
.wb-categories-four .wb-box-hover:hover .wb-link .wb-image.wb-image-front {
  opacity: 0;
}
.wb-categories-four .wb-box-hover .wb-link .wb-image.wb-image-back {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wb-categories-four .wb-box-hover:hover .wb-link .wb-image.wb-image-back {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
} 
.wb-categories-four .wb-box-hover .wb-link {
  -webkit-transition: all 1s linear 0s; /* Safari */
    transition: all 1s linear 0s;
}
.wb-categories-four .wb-box-hover:hover .wb-link {
  background:#ffffff;
}
.wb-categories-four .section_wrapper {
  max-width: 1172px;
}
.wb-banner-confianca .wb-col-no-margin {
  margin:0;
  width:25%;
}
.wb-banner-confianca .wb-link {
  display: block;
  font-family: "Poppins", sans-serif;
  height: 40px;
  line-height: 40px;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  position: relative;
  text-decoration: none;
  padding-left: 80px;
  -webkit-transition: all 1s linear 0.5s; /* Safari */
  -moz-transition: all 1s linear 0.5s; /* Safari */
  transition: all 1s linear 0.5s;
}


.wb-banner-confianca .wb-link.wb-link-frete-gratis {
  color:#8740bd;
}
.wb-banner-confianca .wb-link.wb-link-6x-juros {
  color:#ff8f00;
}
.wb-banner-confianca .wb-link.wb-link-10-boleto {
  color:#f75655;
}
.wb-banner-confianca .wb-link.wb-link-100-seguro {
  color:#00b48d;
}
.wb-banner-confianca .wb-link::after {
  content:'';
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: center center;
}
.wb-banner-confianca .wb-link.wb-link-frete-gratis::after {
  background-image: url('images/icon-frete-fixo.png');
  width:78px;
  height: 32px;
  left: 15px;
}
.wb-banner-confianca .wb-link.wb-link-6x-juros::after {
  background-image: url('images/icon-6x-sem-juros.png');
  width:70px;
  height: 32px;
  left: 15px;
}
.wb-banner-confianca .wb-link.wb-link-10-boleto::after {
  background-image: url('images/icon-10-boleto.png');
  width:48px;
  height: 40px;
  left: 15px;
}
.wb-banner-confianca .wb-link.wb-link-100-seguro::after {
  background-image: url('images/icon-100-seguro.png');
  width:52px;
  height: 40px;
  left: 15px;
}


.wb-banner-confianca .wb-link::before {
  content:'';
  position: absolute;
  z-index: 0;
  width:25px;
  height:25px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wb-banner-confianca .wb-link:hover::before {
  -webkit-animation-name: moveCircle;
  animation-name: moveCircle;
}

.wb-banner-confianca .wb-link.wb-link-frete-gratis::before {
  background-color:#8740bd;
  left: 61px;
    top: 15px;
}
.wb-banner-confianca .wb-link.wb-link-6x-juros::before {
  background-color:#ff8f00;
  left: 56px;
    top: 15px;
}
.wb-banner-confianca .wb-link.wb-link-10-boleto::before {
  background-color:#f75655;
  top: 15px;
  left: 40px;
}
.wb-banner-confianca .wb-link.wb-link-100-seguro::before {
  background-color:#00b48d;
  top: 15px;
  left: 40px;
    
}
/*hover*/
.wb-banner-confianca .wb-link.wb-link-frete-gratis:hover {
  background-color:#8740bd;
  color:#ffffff;
}
.wb-banner-confianca .wb-link.wb-link-6x-juros:hover {
  background-color:#ff8f00;
  color:#ffffff;
}
.wb-banner-confianca .wb-link.wb-link-10-boleto:hover {
  background-color:#f75655;
  color:#ffffff;
}
.wb-banner-confianca .wb-link.wb-link-100-seguro:hover {
  background-color:#00b48d;
  color:#ffffff;
}

.wb-banner-confianca .wb-link.wb-link-frete-gratis:hover::before {
  background-color:#a066cc;
}
.wb-banner-confianca .wb-link.wb-link-6x-juros:hover::before {
  background-color:#ffc06f;
}
.wb-banner-confianca .wb-link.wb-link-10-boleto:hover::before {
  background-color:#ff8786;
}
.wb-banner-confianca .wb-link.wb-link-100-seguro:hover::before {
  background-color:#3ae3be;
}
.wb-banner-confianca .section_wrapper {
  max-width: 900px;
}

.woocommerce ul.products li.product .desc {
    background: #fff;
    padding: 15px 20px;
    text-align: center;
}
.woocommerce ul.products li.product{
  width:31.3%!important;
  margin:0 1% 20px!important;
  clear:none;
  border: 1px solid #dcdcdc; 
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;}
.woocommerce ul.products li.product:hover {box-shadow: 0px 0px 50px #c3c3c3;}
.woocommerce ul.products li.product:nth-child(3n+1){clear:both}

.woocommerce ul.products li.product .price ins {
  font-size: 28px;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    text-decoration:none;
    color:#52bfbc !important;
}
.woocommerce ul.products li.product .price del {
  font-size: 15px;
}
.woocommerce ul.products li.product h5 {
      min-height: 38px;
    margin-bottom: 5px;
}
.woocommerce ul.products li.product .desc {
    background: #fff;
    padding: 15px 20px;
    text-align: center;
}
.woocommerce ul.products li.product a {
    font-size: 16px;
    font-weight: 400;
}
.onsale, .woocommerce.columns-3 ul.products li.product .onsale, .shop_slider .shop_slider_ul li .item_wrapper .onsale {
    display: none !important;
}

#Footer .section--newsletter {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0fb5bc;
  display:none;
}

#Footer .section--newsletter .wb-title {
float: left;
    width: 40%;
    text-align: center;
    display: flex;
    margin-right: 1%;
    align-items: center;
    height: 70px;

}

#Footer .section--newsletter .wb-title h4 {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

#Footer .section--newsletter .tnp-subscription {
    display: inline-block;
    width: 49%;
    position: relative;
    margin-left: 1%;
    margin-bottom: 0;
    margin-top: 9px;
}
#Footer .section--newsletter .mcb-wrap-inner .one.column {
  margin-bottom: 0;
}
#Footer .section--newsletter .tnp-subscription .tnp-field-email .tnp-email {
  background:#ffffff;
  padding-left: 20px;
  padding-right: 160px;
  color: #383838;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  height:52px;
  width: 100%;
  line-height: 52px;
  outline: none;
  transition: all 0.5s 0s ease;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -ms-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  border:none;
}
#Footer .section--newsletter .tnp-subscription .tnp-field-email .tnp-email::-webkit-input-placeholder {
  color: #383838;
}
#Footer .section--newsletter .tnp-subscription .tnp-field-email .tnp-email:-moz-placeholder {
  color: #383838;
}
#Footer .section--newsletter .tnp-subscription .tnp-field-email .tnp-email::-moz-placeholder {
  color: #383838;
}
#Footer .section--newsletter .tnp-subscription .tnp-field-email .tnp-email:-ms-input-placeholder {
  color: #383838;
}
#Footer .section--newsletter .tnp-subscription .tnp-field-email .tnp-email:focus {
  background:#383838;
  color:#ffffff;
}
#Footer .section--newsletter .tnp-subscription .tnp-field-email label {
  display: none;
}

#Footer .section--newsletter .tnp-subscription .tnp-field-button,
#Footer .section--newsletter .tnp-subscription .tnp-field-email {
  margin-bottom: 0;
}

#Footer .section--newsletter .tnp-subscription .tnp-submit {
    position: absolute;
    height: 48px;
    width: 160px;
    right:2px;
    top:1px;
    background: #383838 !important;
    color: #0fb5bc !important;
    border: 0;
    font-weight: bold;
    transition: all 0.5s 0s ease;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -ms-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor:pointer;
    background-position: -50px 12px;
}

#Footer .section--contact {
  padding: 20px 0 20px;
  background: #ffcb0c;
}
        
#Footer .section--contact .mcb-section-inner .one-third.column {
  margin-bottom: 0;
}

#Footer .section--contact .contact a,
#Footer .section--contact .contact p,
#Footer .section--contact .contact p strong {
    color:#662d91;
        font-size: 16px;
}

#Footer .section--contact .contact p {
  margin:0;
}

#Footer .section--contact .contact {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-shrink: 3;
    -webkit-flex-shrink: 3;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
}

#Footer .section--contact .contact .email {
    padding-left: 80px;
    background: url(images/icon-msg.png) left center no-repeat;
    padding-top: 6px;
    margin-top: 4px;
    min-height: 50px;
    width: 33%;
    text-align: left;
    color:#000;
}
#Footer .section--contact .contact .phone {
    padding-left: 76px;
    background: url(images/icon-phone.png) left top no-repeat;
    min-height: 59px;
    width: 33%;
    text-align: left;
    padding-right: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color:#000;
}
#Footer .section--contact .contact .whatsapp {
    padding-left: 76px;
    background: url(images/icon-whatsapp.png) left center no-repeat;
    padding-top: 9px;
    min-height: 60px;
    width: 23%;
    text-align: left;
    color:#000;
}


#Footer .section--contact .contact .email,
#Footer .section--contact .contact .phone,
#Footer .section--contact .contact .whatsapp {
  box-sizing: border-box;
}

#Footer .widgets_wrapper .widget h4 {
    color:#ffffff;
    font-size: 26px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 18px;
    
}
#Footer .footer_copy {
  background-color: #ffffff;
}

#Footer .widgets_wrapper .widget h4::before {
    content:'';
    position: absolute;
    width: 80%;
    height:3px;
    background:#0fb5bc;
    bottom: 0;
    left: 0;

}
#Footer .textwidget a:hover {
    text-decoration: none;
}


.wpcf7-form .button_sended{
  background-image:url('../images/loader-submit.svg');
  background-color: #662d91 !important;
  background-position: 60%;
  background-repeat: no-repeat;
  display: none;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}
.wpcf7-form .loader-submit .button_send {
  display: none;
}
.wpcf7-form .loader-submit .button_sended {
  display: block;

}
.wb-login-lojista #wwlc-login-form {
  background:#752a95;
}
.wb-login-lojista #wwlc-login-form label {
  color:#ffffff;
}
.wb-register-lojista #wwlc-registration-form,
.wb-login-lojista #wwlc-login-form {
  border: 1px solid #d3ced2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}
.wb-register-lojista #wwlc-registration-form .input-text,
.wb-login-lojista #wwlc-login-form .input {
  width: 100%;
}
.wb-register-lojista #wwlc-registration-form .register-button-container .button-primary,
.wb-login-lojista #wwlc-login-form .login-submit .button-primary
{
    width: 100%;
    background-color: #ff8345 !important;
    text-transform: uppercase;
    font-size: 18px;
    border: none !important;
    color: #ffffff !important;
    height: 43px;
}
.wb-register-lojista #wwlc-registration-form .register-button-container .button-primary:hover,
.wb-login-lojista #wwlc-login-form .login-submit .button-primary:hover {
    background-color: #ff691e !important;
}
.wb-register-lojista #wwlc-registration-form .wwlc_phone,
.wb-register-lojista #wwlc-registration-form .wwlc_company_name,
.wb-register-lojista #wwlc-registration-form .first_name {
  width: 48%;
    float: left;
    margin-right: 2%;
}
.wb-register-lojista #wwlc-registration-form .user_email,
.wb-register-lojista #wwlc-registration-form .wwlc_cf_cnpj,
.wb-register-lojista #wwlc-registration-form .last_name {
  width: 48%;
    float: left;
    margin-left: 2%;
}
#wwof_product_listing_filter {
    padding-top: 0px;
    padding-bottom: 20px;
    height: 47px;
    margin-bottom: 0;
    border-bottom: 1px solid #dcdcdc;
}

#wwof_product_listing_filter input[type=text], #wwof_product_listing_filter select, #wwof_product_listing_filter button[type="submit"] {
    display: inline-block;
    height: 32px;
    float: left;
    line-height: 32px;
    padding: 5px 15px;
    box-sizing: content-box;
    margin-right: 15px;
    border-radius: 3px;
}
#wwof_product_listing_filter input[type=text], #wwof_product_listing_filter select {
  height: 30px !important;
}
.wb-login-lojista .register_link,
.wb-register-lojista #wwlc-registration-form .field-set #log-in,
.wb-register-lojista #wwlc-registration-form .field-set #lost-password {
  display:none;
}

.wb-login-lojista .lost_password_link {
  color: #ffffff;
}
#wwof_product_listing_table tbody tr .product_title_col {
  text-align: left;
}
#wwof_product_listing_pagination .total_products_container {
  display: none;
}
#wwof_product_listing_container .woocommerce-info.alert {
      background: #ea7182;
      margin-bottom: 0 !important;
}
html.js {
  margin-top: 0 !important;
}
html #wpadminbar {
  display: none;
}
html.js #Top_bar.is-sticky {
  top:0 !important;
}
.wholesale_customer .woocommerce-cart-form .coupon,
.wholesale_customer .woocommerce-form-coupon-toggle,
.wholesale_customer .woocommerce-shipping-calculator {
  display: none !important;
}
.cart_totals .wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward.no-active  {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}
#Content .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
      background: #5cde9c;
      color:#ffffff;
}
.wholesale_customer p.woocommerce-notice--success + p {
      margin-top: -54px;
    padding-left: 14px;
    color: #fff;
}
.wholesale_customer #Content ul.order_details {
  margin-top: 38px;
}
#Content .woocommerce .woocommerce-customer-details address {
  padding-left: 80px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing:border-box;
    border: 1px solid rgb(212, 189, 221);
}
#Content .woocommerce .woocommerce-customer-details address::before {
  background: rgba(121, 48, 152, 0.3);
}
.woocommerce.wholesale_customer #wwof_product_listing_table a.added_to_cart {
  color: #12b982;
    margin-left: 10px;
    text-decoration: underline;
}
.woocommerce.wholesale_customer #wwof_product_listing_table a.added_to_cart::before {
  content: '\e814';
    font-size: 18px;
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.woocommerce.wholesale_customer .wwof_cart_sub_total .sub_total.including_tax {
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
.woocommerce.wholesale_customer .wwof_cart_sub_total .sub_total.including_tax small {
  display: none;
}

#wwof_product_listing_table .product_link {
  float: left;
  display: inline-block;
  font-size: 14px;
}
#wwof_product_listing_table .view {
  font-size: 12px;
}

.style-simple .alert .alert_icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_slider .shop_slider_ul li .item_wrapper .desc h4{    
  margin-bottom: 5px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    font-weight: 400;
    min-height: 38px;
}
.shop_slider .shop_slider_ul li .item_wrapper .price{
  margin-bottom:0;
  font-size: 28px;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
        width: 100%;
    display: block;
}
.shop_slider .shop_slider_ul li .item_wrapper .price ins{
  text-decoration:none;
  color:#52bfbc !important;
}
.shop_slider .shop_slider_ul li .item_wrapper .price del {
  font-weight: 300;
}
.woocommerce-cart-form {
  float:left;
  width: 60%;
}
.woocommerce .shop_table .product-thumbnail {
    width: 88px;
}
.woocommerce .shop_table .product-name a {
    font-weight: 400;
}
.woocommerce .shop_table .product-remove a.remove {
      font-weight: bold;
    font-size: 25px;
    border: 0 !important;
    background: none;
    box-shadow: none;
    color: #ff254b !important;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 38%;
    float: right;
    margin-left: 2%;
}
.woocommerce .cart-collaterals .cart_totals {
    width: 100%!important;
}
.woocommerce .shop_table .product-thumbnail a img {
    width: auto;
        max-height: 46px;
}
.woocommerce-cart-form h2 {
  font-size: 21px;
  line-height: 25px;
}

#Content .woocommerce table.shop_table button.button {
    color: #ffffff !important;
}
#Content .woocommerce table.shop_table  button.button[disabled]:disabled {
    border: 2px solid #662d91 !important;
    color: #662d91 !important;
    background: none;
  
}
.wb-added_to_cart {
    float: right;
    background:#00be80;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    text-decoration: none;
}
.wb-added_to_cart:hover {
  background:#03be81;
  text-decoration: none;
  color: #ffffff;
}

/* New Button */
.wb-added_to_cart,
.wb-btn-lojista,
.button-flat.woocommerce-page a.button, 
.button-flat.woocommerce-page #respond input#submit, 
.button-flat.woocommerce-page button.button, 
.button-flat.woocommerce-page input.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  -moz-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
}
.wb-added_to_cart:hover,
.wb-btn-lojista:hover,
.button-flat.woocommerce-page a.button:hover, 
.button-flat.woocommerce-page #respond input#submit:hover, 
.button-flat.woocommerce-page button.button:hover, 
.button-flat.woocommerce-page input.button:hover {
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    -moz-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}
.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
  content:'' !important;
  display: none;
}
.woocommerce button.single_add_to_cart_button {
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
}
.woocommerce .quantity input.qty {
    border-radius: 3px;
    height: 40px;
    padding: 10px 0;
        margin-bottom: 0;
    line-height: 40px;
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    box-shadow: 1px 2px 11px 0 rgba(46,61,73,.2);
    -moz-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}
#wwof_product_listing_pagination .page-numbers .current {
    background: #742894;
    padding: 5px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color:#ffffff;
}
#Content .woocommerce .cart_totals a.checkout-button.button.alt {
    background: #ff6e25;
    font-size: 15px;
    padding: 0;
    line-height: 42px;
}
#Content .woocommerce .cart_totals a.checkout-button.button.alt:hover {
  background: #f15d13;
}
.alert_success {
  background: #00be80;
}
/* Testimonials list ----------------------------------------------------------------- */   
.testimonials_list .item{
    float: left;
    width: 50%;
    padding: 0 4%;
    box-sizing: border-box;
    position: relative;
}
.testimonials_list .item .photo{
    width: 100px;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 7%;
    top: -9px;
    }
.testimonials_list .item .photo .image_frame {
      display: inline-block;
      border-radius: 100%;
      overflow: hidden;
      width: 100px;
      height: 100px;
      box-sizing: content-box;
      border: 3px solid #ffffff80;
}
.testimonials_list .item .photo .image_frame .image_wrapper img {
  min-height: 100px;
    width: auto;
    max-width: 170px;
}
.testimonials_list .item .desc{
    width: 100%;
    text-align: left;
    }
.testimonials_list .item .desc h4{margin-bottom:3px;margin-top:10px;color: #fff;padding-left: 120px;}
.testimonials_list .item .desc p.subtitle{color: #fff;padding-left: 120px;}
.testimonials_list .item .desc hr.hr_color{
    width: 10%;
    margin-left: 120px;
    color: #fff;
    display: inline-block;
    margin-bottom: 25px;
    background: #ffffff75;
    height: 3px;
    }
.testimonials_list .item.no-img .desc{width:98%;color: #fff;}
.testimonials_list .item .desc .blockquote blockquote {
  color: #fff;
  margin-left: 0;
  font-size: 15px;
  line-height: 22px;
}
label[for="billing_address_2"] > .optional {
    display: none;
}
label[for="billing_address_2"] > .optional:first-child {
  display: inline-block;
}
.woocommerce span.soldout {
    border-top-color: #fb5455 !important;
    height: 0;
    min-height: 0;
    width: 0;
    min-width: 0;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    left: 0!important;
    right: auto;
    top: 0!important;
    margin: 0!important;
    border-style: solid;
    border-width: 90px 90px 0 0;
    border-color: transparent;
    padding: 0;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: 2;
    background: none;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
.woocommerce span.soldout h4 {
  font-size: 16px;
    line-height: 16px;
    transform: rotate(-45deg) translate(32px,-20px);
    -webkit-transform: rotate(-45deg) translate(32px,-20px);
    font-size: 13px;
    color: #fff;
}
.woocommerce #ie_field .woocommerce-input-wrapper { display: inline-block; height: 35px; }
.woocommerce .woocommerce-input-wrapper label.input-isento {
  float: left;
}
.woocommerce .woocommerce-input-wrapper label.input-isento input {
      margin-left: 0;
    width: 15px;
    height: 15px;
    top: 3px;
    position: relative;
}
.woocommerce .woocommerce-input-wrapper #ie {
  float:right;
  width: 72%;
}
.style-simple .alert .alert_icon,
.woocommerce-message.alert.alert_success .restore-item,
.woocommerce-message.alert.alert_success .wc-forward {
  color:#ffffff;
}
.woocommerce div.product form.cart div.quantity {
  margin-right: 15px;
}
.woocommerce div.product form.cart div.quantity input.qty {
    padding: 10px;
    height: 40px;
}
.woocommerce div.product form.cart .button {
  font-size: 15px;
  padding: 0;
  line-height: 42px;
  height: 42px;
  width: 60%;
}
.woocommerce div.product form.cart .button:before {
    content: '\e8fb';
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.woocommerce-page #payment .orange-checkout {
  background: #ff691e; 
  width: 100%; 
}
.woocommerce-page #payment .orange-checkout:hover {
  background:#f15d13;
}
.woocommerce-shipping-fields {
  margin-top: 40px;
}

.woocommerce form .form-row select,
.woocommerce form .form-row input.input-text {
      border-width: 1px;
    border-style: solid;
    border-image: -moz-linear-gradient( 180deg, rgb(16, 206, 140) 0%, rgb(122, 49, 152) 100%);
    border-image: -webkit-linear-gradient( 180deg, rgb(16, 206, 140) 0%, rgb(122, 49, 152) 100%);
    border-image: -ms-linear-gradient( 180deg, rgb(16, 206, 140) 0%, rgb(122, 49, 152) 100%);
    border-image-slice: 1;
}
.woocommerce form .form-row select:focus,
.woocommerce form .form-row input.input-text:focus {
    border-style: solid;
    border-image: -moz-linear-gradient( 180deg, rgb(122, 49, 152) 0%, rgb(16, 206, 140) 100%);
    border-image: -webkit-linear-gradient( 180deg, rgb(122, 49, 152) 0%, rgb(16, 206, 140) 100%);
    border-image: -ms-linear-gradient( 180deg, rgb(122, 49, 152) 0%, rgb(16, 206, 140) 100%);
    border-image-slice: 1;
}
.woocommerce form .form-row .required {
    color: #ff3026;
    text-decoration: none;
}
h2#order_review_heading {
  margin-bottom: 24px;
}

.woocommerce-form__label span {
    font-size: 18px;
}